@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-surface: #f8f9fa;
  --color-surface-dim: #f1f4f6;
  --color-surface-card: #ffffff;
  --color-primary: #525f74;
  --color-text-main: #2b3437;
  --color-text-sub: #586064;
}

body {
  @apply bg-surface text-text-main font-body antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display tracking-tight;
}